apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-bbtcaork
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-bbtcaork:ab5dab3e6026e33430986e1d48a4cf2803d1c265@sha256:c71b8704b12f902c5eeb3aad8cd67c91e721b4c0300dd8dc555eb760b676b09f
          name: container-image
